

#tableCard {
  background: rgba(0, 0, 26, .6);
}

.theme--dark.v-table {
  background-color: rgba(0, 0, 26, .5);


  .v-datatable__actions {
    background-color: rgba(0, 0, 26, .2);
  }
}

element.style {
  padding: none;
}
